# APP
APP_URL=

# ENV
NODE_ENV=

# DB
DB_HOST=
DB_USER=
DB_PORT=
DB_PASS=
DB_NAME=

# Collection String
DATABASE_URL=

# BACKUP
DB_BACKUP_LOCAL_DIR=
DB_BACKUP_REMOTE_NAME=
DB_BACKUP_REMOTE_DIR=

# Auth
AUTH_JWT_SECRET=
AUTH_JWT_VERIFICATION_SECRET=
AUTH_JWT_ACCESS_TOKEN_TTL=
AUTH_JWT_VERIFICATION_TTL=
AUTH_REFRESH_TOKEN_TTL=
AUTH_SALT_ROUNDS=

# Email
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=
MAIL_APP_PASSWORD=

# GOOGLE APIs
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# Web Socket
SOKETI_APP_ID=
SOKETI_APP_KEY=
SOKETI_APP_SECRET=
SOKETI_APP_CLUSTER=

# AI API Key
AI_GATEWAY_API_KEY=
OPENAI_BASE_URL=
