# APP
APP_URL=

# ENV
NODE_ENV=development

# DB
DB_HOST=
DB_USER=
DB_PORT=
DB_PASS=
DB_NAME=

# BACKUP
DB_BACKUP_LOCAL_DIR=
DB_BACKUP_REMOTE_NAME=
DB_BACKUP_REMOTE_DIR=

# Auth
AUTH_JWT_SECRET=
AUTH_JWT_VERIFICATION_SECRET=
AUTH_JWT_ACCESS_TOKEN_TTL=3600
AUTH_JWT_VERIFICATION_TTL=7200 # 2 giờ
AUTH_REFRESH_TOKEN_TTL=7
AUTH_SALT_ROUNDS=10

# Email
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=
MAIL_APP_PASSWORD=